<style>
 
 bas{
    font-weight: bold;
    font-size: 30px;

}


 Para {
 display: block;
 font-size: 20px;
   body-color: yellow;
 margin-bottom: 12px;

}

 mis{
 display: block;

}

Yazar {
   font-weight: bold;
   font-size: 30px;

}
 </style>

